
<div class="mini-table-wrap">
  <table class="mini-table" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th></th>
      <th class="mini-table-row-th" *ngFor="let col of [].constructor(cols); let c=index"
          [class.focused]="c===focusedCol">{{getColHeader(c)}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of [].constructor(rows); let r=index">
      <th class="mini-table-col-th" [class.focused]="r===focusedRow">{{r + 1}}</th>
      <td *ngFor="let col of [].constructor(cols); let c=index">
        <input type="text" [id]="'mini-cel:' + r + '-' + c"
               [class]="matrix[r][c].type + ' ' + matrix[r][c].formats"
               [class.formala-err]="matrix[r][c].formulaErr"
               [(ngModel)]="matrix[r][c].value"
               (change)="changedAt(r, c, $event.target.value);"
               (ngModelChange)="changingAt(r, c, $event);"
               (focus)="focus(r,c)"
               (keydown)="keypress(r, c, $event)"
               (keydown.control.b)="move(r, c, 'B')"
               (keydown.control.i)="move(r, c, 'I')"
               (keydown.control.u)="move(r, c, 'U')"
               (keydown.arrowup)="move(r, c, 'UP')"
               (keydown.arrowleft)="move(r, c, 'LEFT')"
               (keydown.arrowdown)="move(r, c, 'DOWN')"
               (keydown.arrowright)="move(r, c, 'RIGHT')"
               (keydown.enter)="move(r, c, 'ENTER')"
        />
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="mini-table-tooltip" *ngIf="tooltip">{{tooltip}}</div>
